log:
  level: debug
  disable_sentry: true

db:
  url: postgresql://user:postgres@localhost:5432/postgres?sslmode=disable

listener:
  addr: :8003

cop:
  disabled: true
  endpoint: "localhost"
  upstream: "localhost"
  service_name: blob-service
  service_port: 80
